/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap.min
 *= require bootstrap/bootstrap-theme.min
 * require_tree .
 */

body {
  padding-top: 50px !important;
  /*height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;*/
}
.starter-template {
  padding: 40px 15px !important;
  text-align: center !important;
}

html, body, #map-canvas {
	height: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
	/*max-width: none;
	width: auto; display:inline;*/
}