<!DOCTYPE html>
<html>
<head>
  <title>Capres</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
  <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBz-HwqAE71osXRPbQDuIVCeIIVsseelCE&sensor=true" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
